@import '../variable.scss';
#me{
    min-height: 500px;
    color: $gray-700;
    padding: 1% 5%;
    .side-bar{
        list-style-type: none;
        li {
            span{
                margin-right: 10px;
            }
            cursor: pointer;
            padding: 5px 8px;
            border: 1px solid $gray-200;
            border-radius: 5px;
            &.active{
                border: 2px solid $kp-blue;
            }
        }
    }
    // ========================= MY-ACCOUNT ======================
    #my-account{
        background-color: white;
        padding: 5%;
        .avatar{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                font-size: small;
            }
            input{
                max-width: 200px;
            }
            img {
                max-width: 200px;
                border-radius: 50%;
                margin-bottom: 15px;
            }
        }
        .save{
            width: 60%;
            margin: 10px auto;
            font-size: x-large;
        }
    }
    // ---------------------------- NOTIFIKASI ==--------------------
    #notifikasi{
        display: flex;
        .notifikasi-empty{
            margin: auto ;
            text-align: center;
            span{
                font-size: 150px;
            }
        }
    }
    // ========================= MY -ORDER ===================================
    #my-order{
        display: flex;
        .my-order-empty{
            margin: auto;
            text-align: center;
            span{
                font-size: 150px;
            }
        }
    }
}






// ========================== MOBILE LANDSCAPE ==============================
@media (max-width: 767.98px) { 
        #me{
            display: flex;
            flex-direction: column;
            .side-bar{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            #my-account,#notifikasi,#my-order{
                width: 100%;
            }
        }
 }